<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>{$title}</title>
  {include file="Public/head" /}
  <script>
    pageInfo.fid = {$fid};
    pageInfo.tid = {$tid};
    pageInfo.currentPageNum = {$currentPageNum};
    pageInfo.maxPageNum = {$maxPageNum};
  </script>
  {/* 编辑器提示用
  <link rel="stylesheet" href="../../public/static/src/css/app.css">
  <script src="../../public/static/src/js/jquery.js"></script>
  <script src="../../public/static/src/js/bootstrap.js"></script>
  <script src="../../public/static/src/js/app.js"></script>
  */}
</head>
<body id="readPage">
{include file="Public/header" /}
<main class="container p-t-2">
  <!-- 面包屑导航 -->
  <ol class="breadcrumb m-b-1">
    <li class="breadcrumb-item"><a href="__PUBLIC__">首页</a></li>
    {notempty name="parentForumName"}
    <li class="breadcrumb-item">
      <a href="{:url('Thread/index?fid=' . $parentFid)}">{$parentForumName}</a>
    </li>
    {/notempty}
    <li class="breadcrumb-item active">
      <a href="{:url('Thread/index?fid=' . $fid . ($fpage > 1 ? '&page=' . $fpage : ''))}">{$forumName}</a>
    </li>
  </ol>

  {notempty name="voteList"}
  <!-- 投票区域 -->
  <section>
    <form name="vote" action="{:url('Job/vote')}" method="post">
      {eq name="voteStatus" value="modify"}<input name="voteaction" type="hidden" value="modify">{/eq}
      <input name="tid" type="hidden" value="{$tid}">
      <h6 class="m-b-1">{$voteTitle}</h6>
      <ul class="list-group list-group-sm vote-group m-b-1">
        {volist name="voteList" id="vo"}
        <li class="list-group-item">
          <div class="form-check">
            <label class="form-check-label">
              {notempty name="vo.itemType"}
              <input name="voteid[]" type="{$vo.itemType}" value="{$vo.itemValue}">
              {/notempty}
              <b>{$vo.itemName}</b>
            </label>
          </div>
          {eq name="vo.itemVoteCount" value="-1"}
          <div class="small text-muted">* 票</div>
          {else /}
          <progress class="progress progress-striped progress-{:get_color_from_number($i-1)}" value="{$vo.itemVoteCount}"
                    max="{$voteTotalCount}"></progress>
          <div class="small text-{:get_color_from_number($i-1)}">
            {$vo.itemVoteCount} 票 ({:number_format($vo.itemVoteCount / ($voteTotalCount > 0 ? $voteTotalCount : 1) * 100 , 2)}%)
          </div>
          {/eq}
        </li>
        {/volist}
      </ul>
      <footer class="form-group">
        <div class="small text-muted m-b-1">
          {notempty name="voteTotalCount"}合计<b>{$voteTotalCount}</b>票{/notempty}
          {$votedInfo}
        </div>
        {switch name="voteStatus"}
        {case value="open|modify"}
        <button class="btn btn-primary" type="submit">
          <i class="fa fa-check" aria-hidden="true"></i> 投票
        </button>
        {notempty name="voteLimitNum"}<span class="text-danger">&nbsp;(限选个数：{$voteLimitNum})</span>{/notempty}
        {/case}
        {case value="voted"}
        <a class="btn btn-warning btn-sm" href="{:url('Read/index?fid=' . $fid . '&tid=' . $tid . '&action=modify')}">
          <i class="fa fa-pencil" aria-hidden="true"></i> 修改投票
        </a>
        {/case}
        {/switch}
      </footer>
    </form>
  </section>
  <hr>
  {/notempty}

  <!-- 主题标题 -->
  <h4>{$threadTitle}</h4>

  <!-- 主题信息 -->
  <section class="small text-muted m-b-1 pull-sm-left">
    <span title="点击数" aria-label="点击数">
      <i class="fa fa-hand-pointer-o" aria-hidden="true"></i> {$hitNum}
    </span>&nbsp;
    <span title="回复数" aria-label="回复数">
      <i class="fa fa-comment-o" aria-hidden="true"></i> {$replyNum}
    </span>&nbsp;
    <span title="发表时间" aria-label="发表时间">
      <i class="fa fa-calendar" aria-hidden="true"></i> <time>{$publishTime}</time>
    </span>&nbsp;
    <a href="/kf_tidfavor.php?action=favor&tid={$tid}">
      <i class="fa fa-bookmark" aria-hidden="true"></i> 收藏
    </a>&nbsp;
  </section>

  <!-- 功能区 -->
  <section class="text-xs-right">
    <a class="btn btn-outline-danger tui-btn" href="#" title="推荐数" role="button" aria-label="推荐数">
      <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> <span>{$tuiNum}</span>
    </a>
    <a class="btn btn-primary" href="/post.php?action=reply&fid={$fid}&tid={$tid}">
      <i class="fa fa-pencil" aria-hidden="true"></i> 回帖
    </a>
  </section>
  <hr class="m-b-0">

  <!-- 分页导航 -->
  <nav class="text-xs-center">
    <ul class="pagination">
      {eq name='currentPageNum' value='1'}
      <li class="page-item disabled">
        <span class="page-link">首页</span>
      </li>
      <li class="page-item disabled">
        <span class="page-link">上一页</span>
      </li>
      {else /}
      <li class="page-item">
        <a class="page-link" href="{:url('Read/index', $pageParam . '&page=1')}">首页</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="{:url('Read/index', $pageParam . '&page=' . $prevPageNum)}">上一页</a>
      </li>
      {/eq}
      <li class="page-item active">
        <a class="page-link" href="#">
          {$currentPageNum} <span class="sr-only">(当前页)</span>
        </a>
      </li>
      {eq name='currentPageNum' value='$maxPageNum'}
      <li class="page-item disabled">
        <span class="page-link">下一页</span>
      </li>
      <li class="page-item disabled">
        <span class="page-link" aria-label="第{$maxPageNum}页">
          <span aria-hidden="true">..{$maxPageNum}页</span>
        </span>
      </li>
      {else /}
      <li class="page-item">
        <a class="page-link" href="{:url('Read/index', $pageParam . '&page=' . $nextPageNum)}">下一页</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="{:url('Read/index', $pageParam . '&page=' . $maxPageNum)}" aria-label="第{$maxPageNum}页">
          <span aria-hidden="true">..{$maxPageNum}页</span>
        </a>
      </li>
      {/eq}
    </ul>
  </nav>

  <!-- 楼层内容 -->
  {volist name="floorList" id="vo"}
  {if condition="$i === count($floorList)"}<a id="a"></a>{/if}
  <a name="{$vo.pid}"></a>
  <article class="read-floor" style="border-color: {$vo.smColor};">
    <!-- 楼层顶部 -->
    <header class="media">
      {notempty name="vo.avatar"}
      <div class="media-left">
        <img class="avatar img-rounded" src="/{$vo.avatar}" alt="头像">
      </div>
      {/notempty}
      <div class="media-body">
        <div class="clearfix">
          <div class="media-heading pull-xs-left">
            <a class="font-size-sm text-muted floor-num"
               href="{:url('Read/index?tid=' . $tid . ($vo['pid'] !== 'tpc' ? '&spid=' . $vo['pid'] : ''))}" role="button">
              {eq name='vo.floorNum' value='0'}楼主{else /}{$vo.floorNum}楼{/eq}
            </a>
            <a class="floor-user" href="{:url('Profile/show?uid=' . $vo['uid'])}" style="color: {$vo.smColor};">
              {$vo.userName}
            </a>
            {eq name="vo.smLevel" value="*"}
            <span class="tag tag-default" title="该用户已被禁言">禁</span>
            {/eq}
          </div>
          <div class="pull-xs-right">
            <a class="btn btn-outline-primary btn-sm"
               href="/post.php?action=quote&fid={$fid}&tid={$tid}&pid={$vo.pid}&article={$vo.floorNum}">
              引用
            </a>
            {eq name="vo.uid" value="$uid"}
            <a class="btn btn-outline-primary btn-sm"
               href="/post.php?action=modify&fid={$fid}&tid={$tid}&pid={$vo.pid}&article={$vo.floorNum}">
              编辑
            </a>
            {/eq}
          </div>
        </div>
        <div class="small text-muted floor-info">
          <span class="text-info" title="神秘等级" aria-label="神秘等级">
            <i class="fa fa-star-o" aria-hidden="true"></i> {$vo.smLevel}级
          </span>&nbsp;
          <span title="发表时间" aria-label="发表时间">
            <i class="fa fa-calendar" aria-hidden="true"></i> <time>{$vo.publishTime}</time>
          </span>&nbsp;
          <a href="{:url('Read/index?tid=' . $tid . '&uid=' . $vo['uid'])}" title="只看该会员的发言">只看TA</a>&nbsp;
        </div>
      </div>
    </header>

    <!-- 楼层内容 -->
    <div class="read-content">
      {$vo.content}
    </div>

    <!-- 楼层底部 -->
    <footer>
      <div class="floor-sign col-xs-9 p-x-0 small" title="{$vo.sign}">
        {notempty name="vo.sign"}
        <i class="fa fa-pencil" aria-hidden="true"></i> {$vo.sign}
        {/notempty}
      </div>
      <div class="col-xs-3 p-x-0 text-xs-right">
        <a class="btn btn-outline-primary btn-sm fast-reply-btn" data-floor="{$vo.floorNum}" data-username="{$vo.userName}" href="#"
           role="button">
          快速回复
        </a>
      </div>
    </footer>
  </article>
  {/volist}

  <!-- 分页导航 -->
  <nav class="text-xs-center">
    <ul class="pagination">
      {eq name='currentPageNum' value='1'}
      <li class="page-item disabled">
        <span class="page-link">首页</span>
      </li>
      <li class="page-item disabled">
        <span class="page-link">上一页</span>
      </li>
      {else /}
      <li class="page-item">
        <a class="page-link" href="{:url('Read/index', $pageParam . '&page=1')}">首页</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="{:url('Read/index', $pageParam . '&page=' . $prevPageNum)}">上一页</a>
      </li>
      {/eq}
      <li class="page-item active">
        <a class="page-link" href="#">
          {$currentPageNum} <span class="sr-only">(当前页)</span>
        </a>
      </li>
      {eq name='currentPageNum' value='$maxPageNum'}
      <li class="page-item disabled">
        <span class="page-link">下一页</span>
      </li>
      <li class="page-item disabled">
        <span class="page-link" aria-label="第{$maxPageNum}页">
          <span aria-hidden="true">..{$maxPageNum}页</span>
        </span>
      </li>
      {else /}
      <li class="page-item">
        <a class="page-link" href="{:url('Read/index', $pageParam . '&page=' . $nextPageNum)}">下一页</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="{:url('Read/index', $pageParam . '&page=' . $maxPageNum)}" aria-label="第{$maxPageNum}页">
          <span aria-hidden="true">..{$maxPageNum}页</span>
        </a>
      </li>
      {/eq}
    </ul>
  </nav>
  <hr class="m-t-0">

  <!-- 回复区域 -->
  <section>
    <h5><i class="fa fa-commenting-o" aria-hidden="true"></i> 回复帖子</h5>
    <form id="articleForm" action="{:url('Post/reply')}" method="post" enctype="multipart/form-data">
      <input name="atc_title" type="hidden" value="none">
      <input name="atc_usesign" type="hidden" value="1">
      <input name="atc_convert" type="hidden" value="1">
      <input name="atc_autourl" type="hidden" value="1">
      <input name="step" type="hidden" value="2">
      <input name="action" type="hidden" value="reply">
      <input name="fid" type="hidden" value="{$fid}">
      <input name="tid" type="hidden" value="{$tid}">
      <input name="verify" type="hidden" value="{$replyVerify}">

      <div class="form-group">
        <label class="col-xs-8 p-x-0">
          <span class="sr-only">关键词</span>
          <input class="form-control" id="articleGjc" name="diy_guanjianci" type="text" placeholder="关键词"
                 title="最多5个关键词，每个关键词允许16字节长度，每个关键词之间请用英语逗号,隔开，不要包含英文单引号、双引号。如果关键词是别人的ID名，系统就会@提示此人查看本帖子。">
        </label>
        <div class="col-xs-4 p-x-0 text-xs-right dropup">
          <button class="btn btn-secondary dropdown-toggle" id="smileDropdownBtn" type="button" data-toggle="dropdown" title="表情"
                  aria-label="表情" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-smile-o" aria-hidden="true"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right smile-panel" aria-labelledby="smileDropdownBtn">
            <img data-id="57" data-src="/{$imgPath}/post/smile/em/em48.gif" alt="表情">
            <img data-id="44" data-src="/{$imgPath}/post/smile/em/em35.gif" alt="表情">
            <img data-id="43" data-src="/{$imgPath}/post/smile/em/em34.gif" alt="表情">
            <img data-id="42" data-src="/{$imgPath}/post/smile/em/em33.gif" alt="表情">
            <img data-id="41" data-src="/{$imgPath}/post/smile/em/em32.gif" alt="表情">
            <img data-id="40" data-src="/{$imgPath}/post/smile/em/em31.gif" alt="表情">
            <img data-id="39" data-src="/{$imgPath}/post/smile/em/em30.gif" alt="表情">
            <img data-id="38" data-src="/{$imgPath}/post/smile/em/em29.gif" alt="表情">
            <img data-id="37" data-src="/{$imgPath}/post/smile/em/em28.gif" alt="表情">
            <img data-id="36" data-src="/{$imgPath}/post/smile/em/em27.gif" alt="表情">
            <img data-id="35" data-src="/{$imgPath}/post/smile/em/em26.gif" alt="表情">
            <img data-id="45" data-src="/{$imgPath}/post/smile/em/em36.gif" alt="表情">
            <img data-id="46" data-src="/{$imgPath}/post/smile/em/em37.gif" alt="表情">
            <img data-id="56" data-src="/{$imgPath}/post/smile/em/em47.gif" alt="表情">
            <img data-id="55" data-src="/{$imgPath}/post/smile/em/em46.gif" alt="表情">
            <img data-id="54" data-src="/{$imgPath}/post/smile/em/em45.gif" alt="表情">
            <img data-id="53" data-src="/{$imgPath}/post/smile/em/em44.gif" alt="表情">
            <img data-id="52" data-src="/{$imgPath}/post/smile/em/em43.gif" alt="表情">
            <img data-id="51" data-src="/{$imgPath}/post/smile/em/em42.gif" alt="表情">
            <img data-id="50" data-src="/{$imgPath}/post/smile/em/em41.gif" alt="表情">
            <img data-id="49" data-src="/{$imgPath}/post/smile/em/em40.gif" alt="表情">
            <img data-id="48" data-src="/{$imgPath}/post/smile/em/em39.gif" alt="表情">
            <img data-id="47" data-src="/{$imgPath}/post/smile/em/em38.gif" alt="表情">
            <img data-id="34" data-src="/{$imgPath}/post/smile/em/em25.gif" alt="表情">
            <img data-id="33" data-src="/{$imgPath}/post/smile/em/em24.gif" alt="表情">
            <img data-id="20" data-src="/{$imgPath}/post/smile/em/em11.gif" alt="表情">
            <img data-id="19" data-src="/{$imgPath}/post/smile/em/em10.gif" alt="表情">
            <img data-id="18" data-src="/{$imgPath}/post/smile/em/em09.gif" alt="表情">
            <img data-id="17" data-src="/{$imgPath}/post/smile/em/em08.gif" alt="表情">
            <img data-id="10" data-src="/{$imgPath}/post/smile/em/em01.gif" alt="表情">
            <img data-id="11" data-src="/{$imgPath}/post/smile/em/em02.gif" alt="表情">
            <img data-id="12" data-src="/{$imgPath}/post/smile/em/em03.gif" alt="表情">
            <img data-id="13" data-src="/{$imgPath}/post/smile/em/em04.gif" alt="表情">
            <img data-id="14" data-src="/{$imgPath}/post/smile/em/em05.gif" alt="表情">
            <img data-id="15" data-src="/{$imgPath}/post/smile/em/em06.gif" alt="表情">
            <img data-id="21" data-src="/{$imgPath}/post/smile/em/em12.gif" alt="表情">
            <img data-id="22" data-src="/{$imgPath}/post/smile/em/em13.gif" alt="表情">
            <img data-id="32" data-src="/{$imgPath}/post/smile/em/em23.gif" alt="表情">
            <img data-id="31" data-src="/{$imgPath}/post/smile/em/em22.gif" alt="表情">
            <img data-id="30" data-src="/{$imgPath}/post/smile/em/em21.gif" alt="表情">
            <img data-id="29" data-src="/{$imgPath}/post/smile/em/em20.gif" alt="表情">
            <img data-id="28" data-src="/{$imgPath}/post/smile/em/em19.gif" alt="表情">
            <img data-id="27" data-src="/{$imgPath}/post/smile/em/em18.gif" alt="表情">
            <img data-id="26" data-src="/{$imgPath}/post/smile/em/em17.gif" alt="表情">
            <img data-id="25" data-src="/{$imgPath}/post/smile/em/em16.gif" alt="表情">
            <img data-id="24" data-src="/{$imgPath}/post/smile/em/em15.gif" alt="表情">
            <img data-id="23" data-src="/{$imgPath}/post/smile/em/em14.gif" alt="表情">
            <img data-id="16" data-src="/{$imgPath}/post/smile/em/em07.gif" alt="表情">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="articleContent"><span class="sr-only">回复内容</span></label>
        <textarea class="form-control" id="articleContent" name="atc_content" rows="5" placeholder="回帖请遵守版规"></textarea>
      </div>

      <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">
          <i class="fa fa-send" aria-hidden="true"></i>
          提交
        </button>
      </div>
    </form>
  </section>
</main>
{include file="Public/footer" /}
</body>
</html>
