<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>{$title}</title>
  {include file="Public/head" /}
  <script>
    pageInfo.currentPageNum = {$currentPageNum};
    pageInfo.maxPageNum = {$maxPageNum};
  </script>
  {/* 编辑器提示用
  <link rel="stylesheet" href="../../public/static/src/css/app.css">
  <script src="../../public/static/src/js/jquery.js"></script>
  <script src="../../public/static/src/js/bootstrap.js"></script>
  <script src="../../public/static/src/js/app.js"></script>
  */}
</head>
<body id="searchPage">
{include file="Public/header" /}
<main class="container p-t-2 m-b-0">
  <!-- 面包屑导航 -->
  <ol class="breadcrumb m-b-1">
    <li class="breadcrumb-item"><a href="__PUBLIC__">首页</a></li>
    <li class="breadcrumb-item active">搜索{notempty name="keyword"}：“{$keyword}”{/notempty}</li>
  </ol>

  <!-- 搜索信息 -->
  <div class="font-size-sm text-muted">{$searchInfo}</div>

  <!-- 分页导航 -->
  <nav class="text-xs-center">
    <ul class="pagination">
      <li class="page-item {eq name='currentPageNum' value='1'}disabled{/eq}">
        <a class="page-link" href="{:str_replace('+', '%20', url('Search/index', $pageParam . '&page=1'))}">首页</a>
      </li>
      <li class="page-item {eq name='currentPageNum' value='1'}disabled{/eq}">
        <a class="page-link" href="{:str_replace('+', '%20', url('Search/index', $pageParam . '&page=' . $prevPageNum))}">上一页</a>
      </li>
      <li class="page-item active">
        <a class="page-link" href="#">
          {$currentPageNum} <span class="sr-only">(当前页)</span>
        </a>
      </li>
      <li class="page-item {eq name='currentPageNum' value='$maxPageNum'}disabled{/eq}">
        <a class="page-link" href="{:str_replace('+', '%20', url('Search/index', $pageParam . '&page=' . $nextPageNum))}">下一页</a>
      </li>
      <li class="page-item {eq name='currentPageNum' value='$maxPageNum'}disabled{/eq}">
        <a class="page-link" href="{:str_replace('+', '%20', url('Search/index', $pageParam . '&page=' . $maxPageNum))}">
          <span aria-hidden="true">..{$maxPageNum}页</span>
          <span class="sr-only">第{$maxPageNum}页</span>
        </a>
      </li>
    </ul>
  </nav>

  <!-- 主题列表 -->
  <section class="row">
    <ul class="list-group thread-list-group" id="thread" role="list">
      {volist name="threadList" id="vo"}
      <li class="list-group-item thread-list-item">
        <div class="thread-link-item">
          {empty name="vo.threadForum"}<span class="tag tag-default">删</span>{/empty}
          <a href="{:str_replace('+', '%20', url('Read/index?tid=' . $vo['tid'] . (!empty($keyword) ? '&keyword=' . $keyword : '')))}"
             class="thread-link" target="_blank">
            {$vo.threadTitle}
          </a>
        </div>
        <footer class="thread-item-footer">
          <small>
            {notempty name="vo.threadForum"}
            <span class="text-default" title="所属版块" aria-label="所属版块">
              <i class="fa fa-th-large" aria-hidden="true"></i>
              {$vo.threadForum}
            </span>&nbsp;
            {/notempty}
            <a href="{:url('Profile/show?uid=' . $vo['authorUid'])}" title="发帖人" aria-label="发帖人">
              <i class="fa fa-user" aria-hidden="true"></i>
              {$vo.author}
            </a>&nbsp;
            <span title="发表时间" aria-label="发表时间">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              <time>{$vo.publishTime}</time>
            </span>&nbsp;
          </small>
        </footer>
      </li>
      {/volist}
    </ul>
  </section>

  <!-- 分页导航 -->
  <nav class="text-xs-center">
    <ul class="pagination">
      <li class="page-item {eq name='currentPageNum' value='1'}disabled{/eq}">
        <a class="page-link" href="{:url('Search/index', $pageParam . '&page=1')}">首页</a>
      </li>
      <li class="page-item {eq name='currentPageNum' value='1'}disabled{/eq}">
        <a class="page-link" href="{:url('Search/index', $pageParam . '&page=' . $prevPageNum)}">上一页</a>
      </li>
      <li class="page-item active">
        <a class="page-link" href="#">
          {$currentPageNum} <span class="sr-only">(当前页)</span>
        </a>
      </li>
      <li class="page-item {eq name='currentPageNum' value='$maxPageNum'}disabled{/eq}">
        <a class="page-link" href="{:url('Search/index', $pageParam . '&page=' . $nextPageNum)}">下一页</a>
      </li>
      <li class="page-item {eq name='currentPageNum' value='$maxPageNum'}disabled{/eq}">
        <a class="page-link" href="{:url('Search/index', $pageParam . '&page=' . $maxPageNum)}">
          <span aria-hidden="true">..{$maxPageNum}页</span>
          <span class="sr-only">第{$maxPageNum}页</span>
        </a>
      </li>
    </ul>
  </nav>
</main>
{include file="Public/footer" /}
</body>
</html>
