// 楼层
.read-floor {
  @include make-row();
  margin-bottom: $spacer;
  padding: $spacer-sm;
  border: 1px solid $list-group-border-color;
  border-radius: $border-radius;

  // 楼层顶部
  header {
    .avatar {
      max-width: 3.424rem; // ~48px
      max-height: 4.891rem; // ~68px
    }

    .floor-num {
      margin-right: $spacer-xs;
    }

    .floor-info {
      padding-top: $spacer-xs;
    }
  }

  // 楼层底部
  footer {
    // 签名
    .floor-sign {
      @include text-overflow;
      color: $text-muted;
      line-height: 2.171;
    }
  }
}

// 楼层内容
.read-content {
  padding: {
    top: $spacer;
    bottom: $spacer;
  }
  font-size: 1.1rem; // ~15.4px
  word-break: break-all;

  // 引用框
  .blockquote {
    margin: {
      top: $spacer-sm;
      bottom: $spacer-sm;
    }
    padding: $spacer-sm;
    font-size: inherit;
    text-align: left !important;
    background-color: #f7f7f9;
    border-left: {
      width: .3rem;
      color: #e8e8e8;
    }

    p {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  // 代码区域
  .code-area {
    margin: {
      top: $spacer;
      bottom: $spacer;
    }
    text-align: left !important;
    background-color: #f7f7f9;
    font-size: $font-size-sm;

    a {
      line-height: 2.5;
    }

    pre {
      padding-bottom: $spacer-sm;
      font-size: inherit;
    }

    .code-textarea {
      height: 340px;
      font-size: inherit;
    }
  }

  // 功能区域
  fieldset {
    margin: {
      top: $spacer-sm;
      bottom: $spacer-sm;
    }
    padding: $spacer-sm;
    text-align: left !important;
    border: 1px solid $btn-secondary-border;
    border-radius: $border-radius;

    legend {
      width: auto;
      margin-bottom: 0;
      padding: {
        left: $spacer-sm;
        right: $spacer-sm;
      }
      font-size: $font-size-sm;

      select {
        width: 5rem;
        margin: {
          left: $spacer-sm;
          right: $spacer-sm;
        }
      }
    }
  }

  // 提示区域
  .fieldset-alert {
    margin-bottom: $spacer;
    font-size: $font-size-sm;
    border-color: $btn-danger-border;

    legend {
      color: $btn-danger-bg;
    }

    li {
      list-style-type: none;
    }
  }

  img, audio, video, marquee {
    max-width: 100%;
    margin: {
      top: $spacer-xs;
      bottom: $spacer-xs;
    }
    vertical-align: text-bottom;
  }

  // 表情图片
  .smile {
    margin-bottom: 0;
  }

  // 楼层编辑标志
  .floor_edit_mark {
    font-size: $font-size-sm;
    color: $text-muted;
    padding-top: $spacer-sm;
    text-align: left !important;
  }

  // 附件
  .attach {
    margin-bottom: $spacer-xs;
    color: $text-muted;
    text-align: left !important;
  }
}

// 投票组
.vote-group {
  max-height: 370px;
  overflow-y: auto;

  // 投票项
  .list-group-item {
    .form-check {
      margin-bottom: $spacer-xs;

      .form-check-label {
        padding-left: 0;
      }
    }

    .progress {
      margin-bottom: 0;
    }
  }
}