// 各种字体大小样式
@include font-size-make(base, $font-size-base);
@include font-size-make(xl, $font-size-xl);
@include font-size-make(lg, $font-size-lg);
@include font-size-make(sm, $font-size-sm);
@include font-size-make(xs, $font-size-xs);

// 文字溢出
.text-overflow {
  @include text-overflow();
}

// 列表组（紧凑）
.list-group-sm {
  .list-group-item {
    padding: $spacer-sm;
  }
}

// 列表组项头部
.list-group-item.list-group-item-header {
  @extend .card-header;
  background-color: lighten(opacify($card-cap-bg, .23), 2%);
  margin-bottom: -1px;
  padding: $card-spacer-y $card-spacer-x;
}

// 图片轮播（紧凑）
.carousel-sm {
  .carousel-caption {
    bottom: 0;
    padding-bottom: 10px;
  }
  .carousel-indicators {
    bottom: 0;
    margin-bottom: 5px;
  }
  .carousel-item {
    img {
      height: 14.5rem; // ~203px
    }
  }
}

// 表格（居中）
.table-center {
  thead {
    th {
      text-align: center;
    }
  }

  tbody {
    th, td {
      text-align: center;
    }
  }
}

// 图片文本
.image-text {
  color: $text-muted;
  font-size: $font-size-sm;
  text-align: center;
  vertical-align: middle;
  background-color: $gray-lightest;
}

// 导航（延展）
.nav-extend {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  .nav-item {
    display: inline-block;
    float: none;
  }
}

// 导航链接按钮
.nav-tabs {
  .nav-link-btn {
    padding: {
      left: 2px;
      right: 2px;
    }

    &:focus, &:hover {
      border-color: transparent;
    }
  }
}

// 控件组
.fieldset {
  padding: $spacer;
  border: 1px solid $card-border-color;
  border-radius: $card-border-radius;

  legend {
    width: auto;
    margin-bottom: 0;
    padding: {
      left: $spacer-sm;
      right: $spacer-sm;
    }
    font-size: 1.143rem; // ~16px
  }
}