// 背景颜色
$body-bg: #fcfcfc;
// 根元素的字体大小
$font-size-root: 14px;
// 超大字体
$font-size-xl: 1.5rem; // ~21px
// 较小间隔
$spacer-sm: .5714rem; // ~8px
// 超小间隔
$spacer-xs: .3571rem; // ~5px

@import "bootstrap/bootstrap";
@import "mixins";
@import "utilities";

body {
  padding-top: 3.375rem;
}

#successPage, #errorPage, #loginPage {
  padding-top: 0;
}

main {
  margin-bottom: $spacer*1.5;
}

// 导航栏
.navbar {
  padding-left: 0;

  // 导航栏标志
  .navbar-brand {
    margin-right: 0;
    padding: {
      left: $spacer;
      right: $spacer;
    }
  }
}

// 下拉菜单
.dropdown-menu {
  line-height: 2.2;
}

// 下拉菜单项（激活）
.dropdown-item.active {
  color: #fff !important;
}

// 分页链接
.page-link {
  &:hover, &:focus {
    text-decoration: none;
  }
}

// 当前分页链接
.page-item.active {
  .page-link {
    min-width: 40px;

    &:hover {
      cursor: pointer;
    }
  }
}

// 主菜单
#mainMenu {
  overflow-y: auto;
}

// 用户菜单下拉按钮
#userMenuDropdownBtn {
  max-width: 12.857rem; // ~180px
  white-space: nowrap;
  overflow: hidden;
}

// 主页脚
.main-footer {
  font-size: $font-size-sm;
  text-align: center;
  background-color: darken($body-bg, 5%);

  // 版本号
  .version {
    color: darken($brand-warning, 10%);
  }
}

// 滚动到页顶/页底按钮
#rollToTopOrBottom {
  position: fixed;
  right: .857rem; // ~12px
  bottom: 2.286rem; // ~32px
  padding: .857rem; // ~12px
  color: #fff;
  line-height: 1rem;
  background-color: #000;
  border-radius: $border-radius;
  cursor: pointer;
  opacity: .15;

  &:hover {
    opacity: .35;
  }
}

// 主题链接组
.thread-link-group {
  @include make-row();
  margin: {
    left: 0;
    right: 0;
  }
  padding: 0;
  $line-height: 2.75;

  // 主题链接
  .thread-link {
    @include make-col(10);
    @include text-overflow;
    padding-left: $spacer-sm;
    line-height: $line-height;

    &:hover {
      text-decoration: none;
      background-color: $list-group-hover-bg;
    }
  }

  // 主题快速跳转链接
  .thread-link-jump {
    @include make-col(2);
    line-height: $line-height;
    color: $text-muted;
    text-align: center;

    &:hover {
      background-color: $list-group-hover-bg;
    }
  }
}

// 主题列表组
.thread-list-group {
  // 主题列表项
  .thread-list-item {
    margin: {
      left: 0;
      right: 0;
    }
    padding: 0;

    &:hover {
      background-color: $list-group-hover-bg;
    }

    // 主题链接项
    .thread-link-item {
      max-height: 3.357rem;
      padding: {
        top: $spacer-xs;
        left: $spacer-sm;
        right: $spacer-sm;
      }
      overflow: hidden;

      // 主题链接
      .thread-link {
        text-decoration: none;
      }
    }

    // 主题链接项（不限制高度）
    .thread-link-item-full {
      max-height: none;
      overflow: visible;
    }

    // 主题列表项底部
    .thread-item-footer {
      @include clearfix;
      padding: {
        left: $spacer-sm;
        right: $spacer-sm;
      }

      small {
        @include text-overflow;
        padding: {
          left: 0;
          right: 0;
        }
        color: $text-muted;
        line-height: 2.2;
      }
    }
  }
}

// 表情面板
.smile-panel {
  width: 19rem;
  height: 13.4rem;
  overflow-y: auto;
  opacity: .9;

  img {
    margin: .214rem; // ~3px
    cursor: pointer;
  }
}

/* 各页面样式 */
@import "read";

// 版块规则
.forum-rule {
  max-height: 16.786rem; // ~235px
  overflow-y: auto;
}

// 用户头像（个人信息页面）
.user-avatar {
  display: block;
  margin: 0 auto $spacer;
  max-width: 140px;
  max-height: 200px;
}

// 等级经验进度条
#expProgress {
  height: 1.428rem; // ~20px
}

// ID颜色选择项目
.id-color-item {
  height: 3.571rem; // ~50px
  padding: 0;
  color: #fff;
  line-height: 3.571rem; // ~50px
  text-align: center;

  a {
    color: #fff;
  }

  span {
    font-size: $font-size-sm;
  }
}

// 论坛排行列表，银行日志列表
#rankList, #bankLogList {
  white-space: nowrap;

  th, td {
    padding: {
      left: $spacer-sm;
      right: $spacer-sm;
    }
  }

  thead {
    th {
      padding: $spacer;
    }
  }
}

// 银行日志列表
#bankLogList {
  tbody {
    th, td {
      vertical-align: middle;
    }
  }

  // 描述字段
  .description {
    width: 32rem; // ~448px
    text-align: left;
    white-space: normal;
    word-break: break-all;
  }
}

// 游戏搜索列表
.game-search-list {
  .media {
    padding: $spacer-sm;
    border: 1px solid $list-group-border-color;
    border-radius: $list-group-border-radius;
    background-color: #fff;
    &:hover {
      background-color: $list-group-hover-bg;
    }

    .media-left {
      img {
        max-width: 5rem; // ~70px
        max-height: 7.2rem; // ~100.8px
      }
    }
  }
}

// 游戏介绍封面 & 人物图片
.game-intro-cover, .character-img {
  max-width: 100%;
  max-height: 14.5rem; // ~203px
}

// 神秘盒子
#smBoxPanel {
  .table {
    td {
      border-top: none;

      a {
        min-width: 3.857rem; // ~54px
      }
    }
  }
}

// 好友列表
#friendList {
  .form-group {
    margin-bottom: $spacer/2;
  }
}

// 账户设置页面
#modifyPage {
  // 头像
  #avatar {
    margin-bottom: $spacer-sm;
    max-width: 140px;
    max-height: 200px;
  }

  // 上传头像浏览按钮
  #browseAvatar {
    margin-bottom: $spacer-sm;
  }
}

// 短消息信息框
.msg-box {
  .card-block {
    padding: $spacer-sm;
  }

  // 短消息头部
  .msg-header {
    p {
      margin-bottom: $spacer/2;
    }
  }
  // 短消息内容
  .msg-content {
    padding: 0;
    font-size: $font-size-base;
  }
}