<!-- 分类导航 -->
<ul class="nav nav-pills flex-wrap mb-3">
  <li class="nav-item">
    <a class="nav-link {eq name='action' value='latest'}active{/eq}" href="{:url('SelfRate/latest')}">最近发布的分享帖</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {eq name='action' value='waitcheck'}active{/eq}" href="{:url('SelfRate/waitCheck')}">待检查的评分记录</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {eq name='action' value='my'}active{/eq}" href="{:url('SelfRate/my')}">关于我的评分记录</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {eq name='action' value='complete'}active{/eq}" href="{:url('SelfRate/complete')}">已完成的评分记录</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {eq name='action' value='waitCheckGoodPost'}active{/eq}" href="{:url('SelfRate/waitCheckGoodPost')}">待检查的优秀帖</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {eq name='action' value='completeGoodPost'}active{/eq}" href="{:url('SelfRate/completeGoodPost')}">已完成的优秀帖记录</a>
  </li>
</ul>