<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
  <title>神秘盒子 - {$Think.config.site_name}</title>
  {include file="Public/head" /}
  {/* 编辑器提示用
  <link rel="stylesheet" href="../../public/static/src/css/app.css">
  <link rel="stylesheet" href="../../public/static/src/css/font-awesome.css">
  */}
</head>
<body id="smBoxPage">
{include file="Public/header" /}
<main class="container pt-2">
  <!-- 面包屑导航 -->
  <ol class="breadcrumb mb-1">
    <li class="breadcrumb-item"><a href="__PUBLIC__">首页</a></li>
    <li class="breadcrumb-item active">神秘盒子</li>
  </ol>

  <!-- 提示 -->
  <div class="alert alert-info font-size-sm" role="alert">
    <p>
      以下数字中有一个是特等奖，空的表示已经被抽过未中的，红色表示可以抽奖的。<br>
      每5个小时有一次免费抽奖机会，请点击你觉得正确的数字。<br>
      如果中奖则获取[<b>2000KFB</b>]，并且所有数字盒子重置，开始新一轮抽奖。<br>
      如果未中，也会获得一个随机数的额外奖励，基础随机数由神秘等级决定。<br>
    </p>
    <p class="text-danger mb-0">
      注意：抽取神秘盒子将延长争夺奖励的领取时间，请二选其一，尽量不要同时进行。
    </p>
  </div>

  <!-- 功能区域 -->
  <section>
    <!-- Tab -->
    <ul class="nav nav-tabs mb-1" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#smBoxPanel" role="tab" aria-controls="smBoxPanel">神秘盒子</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#winnerListPanel" role="tab" aria-controls="winnerListPanel">中奖名单</a>
      </li>
    </ul>

    <div class="tab-content">
      <!-- 神秘盒子 -->
      <div class="tab-pane active" id="smBoxPanel" role="tabpanel">
        <button class="btn btn-outline-danger btn-block mb-1" id="smBoxRandom" type="button">随机选择</button>
        <table class="table table-sm text-xs-center">
          <tbody>
          {volist name="smBoxList" id="box" mod="5"}
          {eq name="mod" value="0"}
          <tr>
            {/eq}
            <td>
              {notempty name="box"}
              <a class="btn btn-outline-danger" href="{:url('SmBox/index', 'box=' . $box . '&safeid=' . $safeId)}">{$box}</a>
              {/notempty}
            </td>
            {eq name="mod" value="4"}
          </tr>
          {/eq}
          {/volist}
          </tbody>
        </table>
      </div>

      <!-- 中奖名单 -->
      <div class="tab-pane row" id="winnerListPanel" role="tabpanel">
        <div class="alert alert-success text-xs-center" role="alert">
          中奖者将获得<b>2000KFB</b>的奖励
        </div>
        <table class="table table-sm table-striped table-hover table-center">
          <thead>
          <tr>
            <th>中奖时间</th>
            <th>用户名</th>
            <th>中奖数字</th>
          </tr>
          </thead>
          <tbody class="font-size-sm">
          {volist name="winnerList" id="vo"}
          <tr class="{eq name='vo.winner' value='$userName'}table-warning{/eq}">
            <td>{$vo.winningTime}</td>
            <td><a href="{:url('Profile/show', 'username=' . $vo['winner'])}" target="_blank">{$vo.winner}</a></td>
            <td><b class="text-danger">{$vo.number}</b></td>
          </tr>
          {/volist}
          </tbody>
        </table>
      </div>
    </div>
  </section>
</main>
{include file="Public/footer" /}
</body>
</html>
