<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
  <title>{$title}</title>
  {include file="Public/head" /}
  {/* 编辑器提示用
  <link rel="stylesheet" href="../../public/static/src/css/app.css">
  <link rel="stylesheet" href="../../public/static/src/css/font-awesome.css">
  */}
</head>
<body id="indexPage">
{include file="Public/header" /}
<main class="container pt-2">
  <!-- 功能区 -->
  <section class="mb-2">
    {empty name="atTipsTime"}
    <a class="btn btn-outline-primary btn-block" href="{:url('GuanJianCi/index?gjc=' . $userName)}" target="_blank">最近无人@你</a>
    {else /}
    <a class="btn {eq name='Think.cookie.at_tips_time' value='$atTipsTime'}btn-outline-primary{else /}btn-outline-danger{/eq} btn-block"
       id="atTips" data-time="{$atTipsTime}" href="{:url('GuanJianCi/index?gjc=' . $userName)}" target="_blank">
      有人@你 ({$atTipsTime})
    </a>
    {/empty}
    <a class="btn btn-outline-danger btn-block" data-kfb="{$kfb}" href="javascript:;" title="网站虚拟货币">
      拥有<b>{$kfb|number_format}</b>KFB
    </a>
    <a class="btn btn-outline-danger btn-block" href="{:url('GrowUp/index')}" title="用户等级和权限">
      神秘<b>{$smLevel}</b>级 (系数排名第<b class="text-primary">{$smRank}</b>位)
    </a>
    <a class="btn btn-outline-danger btn-block" href="/kf_fw_ig_index.php" title="通过简单游戏获得每日KFB奖励(推荐)">争夺奖励</a>
    <a class="btn btn-outline-danger btn-block" href="{:url('SmBox/index')}" title="通过随机抽取获得每日KFB奖励(不推荐)">神秘盒子</a>
    {eq name="hasRatingBonus" value="true"}
    <a class="btn btn-outline-danger btn-block" href="{:url('SelfRate/my')}" title="参与分享贴评分获得奖励">
      自助评分<span class="text-success">+你获得新的奖励</span>
    </a>
    {else /}
    <a class="btn btn-outline-danger btn-block" href="{:url('SelfRate/latest')}" title="参与分享贴评分获得奖励">自助评分</a>
    {/eq}
  </section>

  <!-- 版块列表 -->
  <section class="row mb-2">
    <h4 class="mb-1">
      <i class="fa fa-signal" aria-hidden="true"></i> 版块列表
    </h4>

    <!-- 版块列表 Tab -->
    <ul class="nav nav-tabs nav-extend mb-1" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#indexCommonForumPanel" role="tab" aria-controls="indexCommonForumPanel">常用版块</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-btn edit-common-forum-btn" href="#" title="编辑常用版块" aria-label="编辑常用版块">
          <i class="fa fa-edit" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#indexGalgameForumPanel" role="tab" aria-controls="indexGalgameForumPanel">游戏区</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#indexResourceForumPanel" role="tab" aria-controls="indexResourceForumPanel">动漫区</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#indexAcgForumPanel" role="tab" aria-controls="indexAcgForumPanel">综合区</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#indexDiscussForumPanel" role="tab" aria-controls="indexDiscussForumPanel">交流区</a>
      </li>
    </ul>

    <!-- 版块列表 Panel -->
    <div class="tab-content" id="indexForumPanel">
      <div class="tab-pane active common-forum-panel" id="indexCommonForumPanel" role="tabpanel">
        <div class="row mb-1">
          <div class="col-xs-4">
            <a class="btn btn-outline-primary btn-block" href="{:url('Thread/index?fid=106')}">新作动态</a>
          </div>
          <div class="col-xs-4">
            <a class="btn btn-outline-primary btn-block" href="{:url('Thread/index?fid=41')}">网盘下载</a>
          </div>
          <div class="col-xs-4">
            <a class="btn btn-outline-primary btn-block" href="{:url('Thread/index?fid=16')}">种子下载</a>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-xs-4">
            <a class="btn btn-outline-primary btn-block" href="{:url('Thread/index?fid=52')}">游戏讨论</a>
          </div>
          <div class="col-xs-4">
            <a class="btn btn-outline-primary btn-block" href="{:url('Thread/index?fid=84')}">动漫讨论</a>
          </div>
          <div class="col-xs-4">
            <a class="btn btn-outline-primary btn-block" href="{:url('Thread/index?fid=67')}">CG下载</a>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-xs-4">
            <a class="btn btn-outline-primary btn-block" href="{:url('Thread/index?fid=5')}">自由讨论</a>
          </div>
          <div class="col-xs-4">
            <a class="btn btn-outline-primary btn-block" href="{:url('Thread/index?fid=56')}">个人日记</a>
          </div>
          <div class="col-xs-4">
            <a class="btn btn-outline-primary btn-block" href="{:url('Thread/index?fid=57')}">同人漫本</a>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="indexGalgameForumPanel" role="tabpanel">
        <div class="row mb-1">
          <div class="col-xs-6">
            <a class="btn btn-outline-primary btn-block" href="{:url('Thread/index?fid=106')}">新作游戏动态</a>
          </div>
          <div class="col-xs-6">
            <a class="btn btn-outline-primary btn-block" href="{:url('Thread/index?fid=52')}">游戏综合讨论</a>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-xs-4">
            <a class="btn btn-outline-primary btn-block" href="{:url('Thread/index?fid=16')}">BT下载</a>
          </div>
          <div class="col-xs-4">
            <a class="btn btn-outline-primary btn-block" href="{:url('Thread/index?fid=41')}">网盘下载</a>
          </div>
          <div class="col-xs-4">
            <a class="btn btn-outline-primary btn-block" href="{:url('Thread/index?fid=67')}">CG下载</a>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-xs-4">
            <a class="btn btn-outline-primary btn-block" href="{:url('Thread/index?fid=102')}">游戏推荐</a>
          </div>
          <div class="col-xs-4">
            <a class="btn btn-outline-primary btn-block" href="{:url('Thread/index?fid=24')}">疑难互助</a>
          </div>
          <div class="col-xs-4">
            <a class="btn btn-outline-primary btn-block" href="{:url('Thread/index?fid=57')}">同人漫本</a>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="indexResourceForumPanel" role="tabpanel">
        <div class="row mb-1">
          <div class="col-xs-6">
            <a class="btn btn-outline-primary btn-block" href="{:url('Thread/index?fid=84')}">动漫综合讨论</a>
          </div>
          <div class="col-xs-6">
            <a class="btn btn-outline-primary btn-block" href="{:url('Thread/index?fid=92')}">动画资源下载</a>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-xs-6">
            <a class="btn btn-outline-primary btn-block" href="{:url('Thread/index?fid=127')}">漫画小说</a>
          </div>
          <div class="col-xs-6">
            <a class="btn btn-outline-primary btn-block" href="{:url('Thread/index?fid=68')}">动漫游戏音乐</a>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-xs-6">
            <a class="btn btn-outline-primary btn-block" href="{:url('Thread/index?fid=163')}">ACG类LIVE共享</a>
          </div>
          <div class="col-xs-6">
            <a class="btn btn-outline-primary btn-block" href="{:url('Thread/index?fid=182')}">转载资源</a>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="indexAcgForumPanel" role="tabpanel">
        <div class="row mb-1">
          <div class="col-xs-6">
            <a class="btn btn-outline-primary btn-block" href="{:url('Thread/index?fid=94')}">原创绘画作品</a>
          </div>
          <div class="col-xs-6">
            <a class="btn btn-outline-primary btn-block" href="{:url('Thread/index?fid=87')}">ACG宅物交流</a>
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-xs-6">
            <a class="btn btn-outline-primary btn-block" href="{:url('Thread/index?fid=86')}">电子产品交流</a>
          </div>
          <div class="col-xs-6">
            <a class="btn btn-outline-primary btn-block" href="{:url('Thread/index?fid=115')}">ACG文字作品</a>
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-xs-6">
            <a class="btn btn-outline-primary btn-block" href="{:url('Thread/index?fid=96')}">图片来源出处</a>
          </div>
          <div class="col-xs-6">
            <a class="btn btn-outline-primary btn-block" href="{:url('Thread/index?fid=36')}">资源下载求助</a>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="indexDiscussForumPanel" role="tabpanel">
        <div class="row mb-1">
          <div class="col-xs-6">
            <a class="btn btn-outline-primary btn-block" href="{:url('Thread/index?fid=5')}">自由讨论区</a>
          </div>
          <div class="col-xs-6">
            <a class="btn btn-outline-primary btn-block" href="{:url('Thread/index?fid=56')}">个人日记区</a>
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-xs-4">
            <a class="btn btn-outline-primary btn-block" href="{:url('Thread/index?fid=98')}">日本语版</a>
          </div>
          <div class="col-xs-4">
            <a class="btn btn-outline-primary btn-block" href="{:url('Thread/index?fid=9')}">我的关注</a>
          </div>
          <div class="col-xs-4">
            <a class="btn btn-outline-primary btn-block" href="{:url('Thread/index?fid=4')}">意见投诉</a>
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-xs-6">
            <a class="btn btn-outline-primary btn-block" href="{:url('Thread/index?fid=93')}">管理组区(内部)</a>
          </div>
          <div class="col-xs-6">
            <a class="btn btn-outline-primary btn-block" href="{:url('Thread/index?fid=59')}">原创组区(内部)</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- 最新回复 -->
  <section class="row mb-2">
    <h4 class="mb-1">
      <i class="fa fa-signal" aria-hidden="true"></i> 最新回复
    </h4>

    <!-- 最新回复 Tab -->
    <ul class="nav nav-tabs mb-1" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#galgameNewReplyPanel" role="tab"
           aria-controls="galgameNewReplyPanel">游戏区</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#resourceNewReplyPanel" role="tab" aria-controls="resourceNewReplyPanel">动漫区</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#otherNewReplyPanel" role="tab" aria-controls="otherNewReplyPanel">其它区</a>
      </li>
    </ul>

    <!-- 最新回复 Panel -->
    <div class="tab-content">
      <ul class="tab-pane list-group active" id="galgameNewReplyPanel" role="tabpanel">
        {volist name="galgameNewReplyList" id="vo"}
        <li class="list-group-item thread-link-group">
          <a class="thread-link" href="{:url('Read/index?tid=' . $vo['tid'])}" title="《{$vo.title}》by：{$vo.author}">{$vo.title}</a>
          <a class="thread-link-jump" href="{:url('Read/index?tid=' . $vo['tid'] . '&page=e#a')}">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
            <span class="sr-only">跳转到帖子末页</span>
          </a>
        </li>
        {/volist}
      </ul>

      <ul class="tab-pane list-group" id="resourceNewReplyPanel" role="tabpanel">
        {volist name="resourceNewReplyList" id="vo"}
        <li class="list-group-item thread-link-group">
          <a class="thread-link" href="{:url('Read/index?tid=' . $vo['tid'])}" title="《{$vo.title}》by：{$vo.author}">{$vo.title}</a>
          <a class="thread-link-jump" href="{:url('Read/index?tid=' . $vo['tid'] . '&page=e#a')}">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
            <span class="sr-only">跳转到帖子末页</span>
          </a>
        </li>
        {/volist}
      </ul>

      <ul class="tab-pane list-group" id="otherNewReplyPanel" role="tabpanel">
        {volist name="otherNewReplyList" id="vo"}
        <li class="list-group-item thread-link-group">
          <a class="thread-link" href="{:url('Read/index?tid=' . $vo['tid'])}" title="《{$vo.title}》by：{$vo.author}">{$vo.title}</a>
          <a class="thread-link-jump" href="{:url('Read/index?tid=' . $vo['tid'] . '&page=e#a')}">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
            <span class="sr-only">跳转到帖子末页</span>
          </a>
        </li>
        {/volist}
      </ul>
    </div>
  </section>

  <!-- 当前推荐 -->
  <section class="row mb-2">
    <h4 class="mb-1">
      <i class="fa fa-signal" aria-hidden="true"></i> 当前推荐
    </h4>

    <!-- 当前推荐 Tab -->
    <ul class="nav nav-tabs mb-1" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#galgameTopRecommendPanel" role="tab"
           aria-controls="galgameTopRecommendPanel">游戏区</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#resourceTopRecommendPanel" role="tab"
           aria-controls="resourceTopRecommendPanel">动漫区</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#otherTopRecommendPanel" role="tab"
           aria-controls="otherTopRecommendPanel">其它区</a>
      </li>
    </ul>

    <!-- 当前推荐 Panel -->
    <div class="tab-content">
      <ul class="tab-pane list-group active" id="galgameTopRecommendPanel" role="tabpanel">
        {volist name="galgameTopRecommendList" id="vo"}
        <li class="list-group-item thread-link-group">
          <a class="thread-link" href="{:url('Read/index?tid=' . $vo['tid'])}" title="《{$vo.title}》by：{$vo.author}">{$vo.title}</a>
          <a class="thread-link-jump" href="{:url('Read/index?tid=' . $vo['tid'] . '&page=e#a')}">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
            <span class="sr-only">跳转到帖子末页</span>
          </a>
        </li>
        {/volist}
      </ul>

      <ul class="tab-pane list-group" id="resourceTopRecommendPanel" role="tabpanel">
        {volist name="resourceTopRecommendList" id="vo"}
        <li class="list-group-item thread-link-group">
          <a class="thread-link" href="{:url('Read/index?tid=' . $vo['tid'])}" title="《{$vo.title}》by：{$vo.author}">{$vo.title}</a>
          <a class="thread-link-jump" href="{:url('Read/index?tid=' . $vo['tid'] . '&page=e#a')}">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
            <span class="sr-only">跳转到帖子末页</span>
          </a>
        </li>
        {/volist}
      </ul>

      <ul class="tab-pane list-group" id="otherTopRecommendPanel" role="tabpanel">
        {volist name="otherTopRecommendList" id="vo"}
        <li class="list-group-item thread-link-group">
          <a class="thread-link" href="{:url('Read/index?tid=' . $vo['tid'])}" title="《{$vo.title}》by：{$vo.author}">{$vo.title}</a>
          <a class="thread-link-jump" href="{:url('Read/index?tid=' . $vo['tid'] . '&page=e#a')}">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
            <span class="sr-only">跳转到帖子末页</span>
          </a>
        </li>
        {/volist}
      </ul>
    </div>
  </section>

  <!-- 最新发表 -->
  <section class="row mb-2">
    <h4 class="mb-1">
      <i class="fa fa-signal" aria-hidden="true"></i> 最新发表
    </h4>

    <!-- 最新发表 List -->
    <ul class="list-group" id="newPublishPanel">
      {volist name="newPublishList" id="vo"}
      <li class="list-group-item thread-link-group">
        <a class="thread-link" href="{:url('Read/index?tid=' . $vo['tid'])}" title="《{$vo.title}》by：{$vo.author}">{$vo.title}</a>
        <a class="thread-link-jump" href="{:url('Read/index?tid=' . $vo['tid'] . '&page=e#a')}">
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
          <span class="sr-only">跳转到帖子末页</span>
        </a>
      </li>
      {/volist}
    </ul>
  </section>

  <!-- 选择背景 -->
  <section class="row card">
    <h4 class="card-header mb-0">
      <i class="fa fa-signal" aria-hidden="true"></i> 选择背景
    </h4>
    <div class="card-block p-sm" id="selectBgImage" data-path="__PUBLIC__{$Think.config.static_path}img/bg/">
      {volist name="Think.config.bg_image_list" id="vo"}
      <span class="img-thumbnail bg-sprite bg-sprite-{$i}" data-id="{$i}" data-filename="{$vo}"></span>
      {/volist}
      <span class="img-thumbnail" data-color="#f6f4ec" style="background-color: #f6f4ec;"></span>
      <span class="img-thumbnail" data-color="#dbeed9" style="background-color: #dbeed9;"></span>
      <span class="img-thumbnail" data-color="#e8fdfe" style="background-color: #e8fdfe;"></span>
      <span class="img-thumbnail" data-color="#f6f6f6" style="background-color: #f6f6f6;"></span>
      <span class="img-thumbnail" data-color="#ded6d6" style="background-color: #ded6d6;"></span>
      <span class="img-thumbnail" data-color="#fdd9d9" style="background-color: #fdd9d9;"></span>
      <span class="img-thumbnail image-text" id="customBgStyle">自定义</span>
    </div>
  </section>
</main>
{include file="Public/footer" /}
</body>
</html>
