<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
  <title>帮助 - {$Think.config.site_name}</title>
  {include file="Public/head" /}
  {/* 编辑器提示用
  <link rel="stylesheet" href="../../public/static/src/css/app.css">
  <link rel="stylesheet" href="../../public/static/src/css/font-awesome.css">
  */}
</head>
<body id="faqPage">
{include file="Public/header" /}
<main class="container pt-2">
  <!-- 面包屑导航 -->
  <ol class="breadcrumb mb-1">
    <li class="breadcrumb-item"><a href="__PUBLIC__">首页</a></li>
    <li class="breadcrumb-item active">帮助</li>
  </ol>

  <!-- 问题导航 -->
  <nav class="nav nav-pills nav-stacked mb-1">
    {volist name="questionList" id="vo"}
    <a class="nav-link {eq name='vo.id' value='$id'}active{else /}{eq name='vo.id' value='101'}text-danger{/eq}{/eq}"
       href="{:url('Faq/index?id=' . $vo['id'])}">{$vo.title}</a>
    {/volist}
  </nav>

  <!-- 问题内容 -->
  <div class="card">
    <h5 class="card-header mb-0">{$questionTitle}</h5>
    <div class="card-block">
      <p class="card-text">
        {switch name="id"}
        {case value="1"}
        你可以通过发帖/回贴、参与争夺奖励（推荐）、抽取神秘盒子（不推荐）等方式获取KFB（论坛货币）。<br><br>

        发帖/回贴时会获得基本的KFB奖励，每天第一次发帖/回贴还可获得额外经验奖励。<br>
        发帖请先阅读规定避免违规，在你还没有时间阅读全部规定之前，请至少注意以下几点：<br>
        不要发表纯水帖；不要纯复制发帖；不要发表政治、广告、恶心的内容；不要攻击、讽刺、挑衅他人；<br>
        不要发表成人图片、视频、小说等内容；不要伪造原创、盗取他人原创。<br><br>

        升级（神秘系数）可以获得不同的等级权限，你可以在<a href="{:url('GrowUp/index')}" target="_blank">等级经验页面</a>进行KFB捐款，
        根据不同的捐款数额获得相应的经验来提升神秘系数。<br>
        注册初始神秘系数为0，为“通常版”等级，拥有大部分的日常权限；提升为神秘系数4时，升级为“初回限定版”等级，拥有部分追加的权限。<br>
        部分板块需要一定神秘系数以上才可进入，如打开帖子时出现“error&hellip;”的提示，说明你当前的神秘系数无法进入该板块。<br><br>

        神秘等级的值以神秘系数为基础，基本上是装饰用的属性，可见于帖子页面各楼层用户名称旁，还可用于选择自定义ID颜色。
        {/case}
        {default /}{$questionContent}
        {/switch}
      </p>
    </div>
  </div>

</main>
{include file="Public/footer" /}
</body>
</html>
